Repository dsoaress/brawo-impact: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add contact page
  .env
  next.config.js
  package-lock.json
  package.json
  public/favicon.ico
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/page/[page]/page.tsx
  src/app/contact/page.tsx
  src/app/head.tsx
  src/app/layout.tsx
  src/components/button/button.tsx
  src/components/button/styles.module.css
  src/components/contact/contact.tsx
  src/components/contact/form.tsx
  src/components/contact/index.ts
  src/components/contact/styles.module.css
  src/components/container/container.tsx
  src/components/container/index.ts
  src/components/container/styles.module.css
  src/components/domains/domains-section.tsx
  src/components/domains/styles.module.css
  src/components/footer/footer.tsx
  src/components/formulas/formulas-section.tsx
  src/components/input/index.ts
  src/components/input/input.tsx
  src/components/input/styles.module.css
  src/components/news/news-section.tsx
  src/components/news/pagination.tsx
  src/components/news/styles.module.css
  src/components/team/styles.module.css
  src/components/team/team-section.tsx
  src/components/text/styles.module.css
  src/components/text/text.tsx
  src/components/textarea/index.ts
  src/components/textarea/styles.module.css
  src/components/textarea/textarea.tsx
  src/config/constants.ts
  src/pages/api/contact.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add contact page (#8)
  .env
  next.config.js
  package-lock.json
  package.json
  public/favicon.ico
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/page/[page]/page.tsx
  src/app/contact/page.tsx
  src/app/head.tsx
  src/app/layout.tsx
  src/components/button/button.tsx
  src/components/button/styles.module.css
  src/components/contact/contact.tsx
  src/components/contact/form.tsx
  src/components/contact/index.ts
  src/components/contact/styles.module.css
  src/components/container/container.tsx
  src/components/container/index.ts
  src/components/container/styles.module.css
  src/components/domains/domains-section.tsx
  src/components/domains/styles.module.css
  src/components/footer/footer.tsx
  src/components/formulas/formulas-section.tsx
  src/components/input/index.ts
  src/components/input/input.tsx
  src/components/input/styles.module.css
  src/components/news/news-section.tsx
  src/components/news/pagination.tsx
  src/components/news/styles.module.css
  src/components/team/styles.module.css
  src/components/team/team-section.tsx
  src/components/text/styles.module.css
  src/components/text/text.tsx
  src/components/textarea/index.ts
  src/components/textarea/styles.module.css
  src/components/textarea/textarea.tsx
  src/config/constants.ts
  src/pages/api/contact.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

refactor: add sendgrid
  .env
  package.json
  src/app/api/contact/route.ts
  src/app/contact/page.tsx
  src/app/page.tsx
  src/components/contact/form.tsx
  src/components/footer/footer.tsx
  src/components/header/assets/burguer.tsx
  src/components/header/header.tsx
  src/components/header/index.ts
  src/components/header/nav.tsx
  src/components/header/styles.module.css
  src/components/logo/index.ts
  src/components/logo/logo.tsx
  src/config/constants.ts
  src/hooks/useBreakpoint.ts
  src/pages/api/contact.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add hero
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/page/[page]/page.tsx
  src/app/page.tsx
  src/components/container/container.tsx
  src/components/header/assets/burguer.tsx
  src/components/header/base-header.tsx
  src/components/header/header.tsx
  src/components/header/index.ts
  src/components/header/index.tsx
  src/components/header/nav.tsx
  src/components/header/solid-header-mobile.tsx
  src/components/header/solid-header.tsx
  src/components/header/styles.module.css
  src/components/header/transparent-header-mobile.tsx
  src/components/header/transparent-header.tsx
  src/components/logo/logo.tsx
  src/components/main-hero/assets/hero.png
  src/components/main-hero/index.ts
  src/components/main-hero/main-hero.tsx
  src/components/main-hero/styles.module.css
  src/components/news/internal-news-section.tsx
  src/hooks/useBreakpoint.ts
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

chore: remove .env
  .env
Due: none

chore: change email
  src/config/constants.ts
Due: eslint --max-warnings=0 --fix

feat: add header (#9)
  .env
  package.json
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/page/[page]/page.tsx
  src/app/api/contact/route.ts
  src/app/contact/page.tsx
  src/app/page.tsx
  src/components/contact/form.tsx
  src/components/container/container.tsx
  src/components/footer/assets/logo.tsx
  src/components/footer/footer.tsx
  src/components/header/assets/burguer.tsx
  src/components/header/base-header.tsx
  src/components/header/index.tsx
  src/components/header/nav.tsx
  src/components/header/solid-header-mobile.tsx
  src/components/header/solid-header.tsx
  src/components/header/styles.module.css
  src/components/header/transparent-header-mobile.tsx
  src/components/header/transparent-header.tsx
  src/components/logo/index.ts
  src/components/logo/logo.tsx
  src/components/main-hero/assets/hero.png
  src/components/main-hero/index.ts
  src/components/main-hero/main-hero.tsx
  src/components/main-hero/styles.module.css
  src/components/news/internal-news-section.tsx
  src/config/constants.ts
  src/hooks/useBreakpoint.ts
  src/pages/api/contact.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: imp news
  package.json
  src/app/actualites/[slug]/page.tsx
  src/components/serialize/index.ts
  src/components/serialize/serialize.tsx
  src/services/get-news.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore

feat: add more pages
  package.json
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/[slug]/styles.module.css
  src/app/manifeste/assets/hero.png
  src/app/manifeste/page.tsx
  src/app/manifeste/styles.module.css
  src/app/mentions-legales/assets/hero.png
  src/app/mentions-legales/page.tsx
  src/app/mentions-legales/styles.module.css
  src/app/prendre-rendez-vous/assets/hero.png
  src/app/prendre-rendez-vous/page.tsx
  src/app/prendre-rendez-vous/styles.module.css
  src/app/styles.css
  src/components/base-page-layout/base-page-layout.tsx
  src/components/base-page-layout/index.ts
  src/components/base-page-layout/styles.module.css
  src/components/footer/assets/linkedin-icon.tsx
  src/components/footer/footer.tsx
  src/components/header/nav.tsx
  src/components/header/styles.module.css
  src/components/news/news-section.tsx
  src/components/news/styles.module.css
  src/services/get-news.ts
  src/services/get-team.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: imp layout and blog
  package.json
  src/app/actualites/[slug]/page.tsx
  src/app/contact/api/route.ts
  src/app/mentions-legales/page.tsx
  src/components/contact/form.tsx
  src/components/news/breadcrumb.tsx
  src/components/news/internal-news-card.tsx
  src/components/news/internal-news-section.tsx
  src/components/news/share.tsx
  src/components/news/styles.module.css
  src/components/team/styles.module.css
  src/config/constants.ts
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add more sections
  src/app/page.tsx
  src/components/accelerate-section/accelerate-section.tsx
  src/components/accelerate-section/index.ts
  src/components/appointment-section/appointment-section.tsx
  src/components/appointment-section/index.ts
  src/components/appointment-section/styles.module.css
  src/components/formulas/formula-card.tsx
  src/components/formulas/formulas-section.tsx
  src/components/formulas/styles.module.css
  src/components/gradient/gradient.tsx
  src/components/gradient/index.ts
  src/components/gradient/styles.module.css
  src/components/manifest-section/assets/icon.png
  src/components/manifest-section/index.ts
  src/components/manifest-section/manifest-section.tsx
  src/components/manifest-section/styles.module.css
  src/components/news/styles.module.css
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add accelerate section
  src/app/manifeste/page.tsx
  src/app/mentions-legales/page.tsx
  src/components/accelerate-section/accelerate-card.tsx
  src/components/accelerate-section/accelerate-section.tsx
  src/components/accelerate-section/styles.module.css
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

fix: hero banner
  src/components/main-hero/styles.module.css
Due: prettier --write --ignore-path .gitignore, stylelint --fix

refactor: make some adjustment
  package.json
  src/app/contact/api/route.ts
  src/app/manifeste/page.tsx
  src/app/mentions-legales/page.tsx
  src/components/button/button.tsx
  src/components/button/styles.module.css
  src/components/contact/form.tsx
  src/components/domains/domain-card.tsx
  src/components/domains/domains-section.tsx
  src/components/footer/footer.tsx
  src/components/header/nav.tsx
  src/components/header/styles.module.css
  src/components/header/transparent-header.tsx
  src/components/manifest-section/index.ts
  src/components/manifest-section/manifest-video.tsx
  src/components/news/internal-news-section.tsx
  yarn.lock
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

fix: mail and description
  src/config/constants.ts
Due: eslint --max-warnings=0 --fix

refactor: make some adjustment
  src/app/layout.tsx
  src/app/prendre-rendez-vous/assets/hero.png
  src/app/prendre-rendez-vous/page.tsx
  src/app/prendre-rendez-vous/styles.module.css
  src/components/appointment-section/appointment-section.tsx
  src/components/header/nav.tsx
  src/components/news/styles.module.css
  src/config/constants.ts
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

chore: ajustes
  src/components/manifest-section/manifest-section.tsx
  src/components/serialize/serialize.tsx
Due: eslint --max-warnings=0 --fix

feat(wip): add new page
  src/app/actualites/[slug]/page.tsx
  src/app/actualites/[slug]/styles.module.css
  src/app/formules/page.tsx
  src/app/page.tsx
  src/components/formulas/assets/check.tsx
  src/components/formulas/assets/no-check.tsx
  src/components/formulas/formula-card.tsx
  src/components/formulas/formulas-description-card.tsx
  src/components/formulas/formulas-description.tsx
  src/components/formulas/formulas-section.tsx
  src/components/formulas/formulas-supplement.tsx
  src/components/formulas/index.ts
  src/components/formulas/styles.module.css
  src/components/heading/heading.tsx
  src/components/heading/styles.module.css
  src/components/hero/assets/hero.png
  src/components/hero/index.ts
  src/components/hero/main-hero.tsx
  src/components/hero/normal-hero.tsx
  src/components/hero/styles.module.css
  src/components/main-hero/index.ts
  src/components/serialize/serialize.tsx
  tsconfig.json
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

feat: add new page
  src/app/actualites/[slug]/styles.module.css
  src/components/formulas/assets/no-check.tsx
  src/components/formulas/formula-card.tsx
  src/components/formulas/formulas-description-card.tsx
  src/components/formulas/formulas-description.tsx
  src/components/formulas/styles.module.css
  src/components/hero/styles.module.css
  tsconfig.json
Due: eslint --max-warnings=0 --fix, prettier --write --ignore-path .gitignore, stylelint --fix

fix: margin on new page
  src/components/formulas/styles.module.css
Due: prettier --write --ignore-path .gitignore, stylelint --fix

fix: texts
  src/components/formulas/formulas-description.tsx
  src/components/formulas/formulas-supplement.tsx
Due: eslint --max-warnings=0 --fix

test: fix test
  src/components/formulas/formulas-supplement.tsx
Due: eslint --max-warnings=0 --fix

Add files via upload
  public/barometre-des-offres-d-emploi-a-impact.pdf
Due: none

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{js,ts,tsx}
  prettier --write --ignore-path .gitignore: any of: *.{json,yml,yaml,md,css}
  stylelint --fix: any of: *.css
